<h2>Home of the Bench Press Monitor</h2>
<div>Gender Selected is {{gender}}</div>
<div class="main-form">
  <form>
    <button (click)="gender = 'Male'">Male</button>
    <button (click)="gender = 'Female'">Female</button>
    <label>Body Weight: <input type="number" name="body_weight" [(ng-model)]="bodyweight" /></label><br />
    <label>Benchpress Weight: <input type="number" name="benchpress_weight" [(ng-model)]="bench"/></label><br />
    <input type="submit" value="Submit" (click)="sayHello()"/>
  </form>
</div>
<button (click)="sayHello()">Say Hello</button>
<p>{{performance}}</p>
<p>{{gender}}</p>
