<h2>Home of the Bench Press Monitor</h2>
<div>Gender Selected is {{gender}}</div>
<div class="main-form col-xs-6">
  <form>
    <div class="form-group">
      <button (click)="gender = 'Male'">Male</button>
      <button (click)="gender = 'Female'">Female</button>
    </div>
    <div class="form-group">
      <label>Body Weight: <input type="number" class="form-control" name="body_weight" [(ng-model)]="bodyweight" /></label><br />
    </div>
    <div class="form-group">
      <label>Benchpress Weight: <input type="number" class="form-control" name="benchpress_weight" [(ng-model)]="bench" /></label><br />
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" (click)="measure()"/>
  </form>
</div>
<div class="col-xs-6">
  <p>{{performance}}</p>
  <img [attr.src]="img" [attr.alt]="performance">
</div>
