<header class="jumbotron">
  <img id="firstHamster" src="https://isowhey.files.wordpress.com/2013/03/shutterstock_92573752.jpg">
  <h1>Welcome to the Muscle Hamster</h1>
  <img id="secondHamster" src="https://isowhey.files.wordpress.com/2013/03/shutterstock_92573752.jpg">
</header>

<section class="main-content">
  <h3 class="main-header">Test Your Strength</h3>
  <p class="content">This is the best place to go to test your strength against all of the other
    muscle hamsters out there. You can check out our Bench Press Monitor.
  </p>
  <p class="content">
    <a href="#/bench" class="btn btn-success btn-lg">Bench Press Monitor</a>
  </p>
</section>
